<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xgf.mapper.TbStudentMapper" >
  <resultMap id="BaseResultMap" type="net.xgf.pojo.TbStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stuName" property="stuname" jdbcType="VARCHAR" />
    <result column="examCode" property="examcode" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="deparment" property="deparment" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="seatNumber" property="seatnumber" jdbcType="INTEGER" />
    <result column="headUrl" property="headurl" jdbcType="VARCHAR" />
    <result column="healthUrl" property="healthurl" jdbcType="VARCHAR" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stuName, examCode, mobile, deparment, number, seatNumber, headUrl, healthUrl, 
    idCard
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.xgf.pojo.TbStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.xgf.pojo.TbStudentExample" >
    delete from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.xgf.pojo.TbStudent" >
    insert into tb_student (id, stuName, examCode, 
      mobile, deparment, number, 
      seatNumber, headUrl, healthUrl, 
      idCard)
    values (#{id,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{examcode,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{deparment,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{seatnumber,jdbcType=INTEGER}, #{headurl,jdbcType=VARCHAR}, #{healthurl,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.xgf.pojo.TbStudent" >
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuname != null" >
        stuName,
      </if>
      <if test="examcode != null" >
        examCode,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="deparment != null" >
        deparment,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="seatnumber != null" >
        seatNumber,
      </if>
      <if test="headurl != null" >
        headUrl,
      </if>
      <if test="healthurl != null" >
        healthUrl,
      </if>
      <if test="idcard != null" >
        idCard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="examcode != null" >
        #{examcode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="deparment != null" >
        #{deparment,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="seatnumber != null" >
        #{seatnumber,jdbcType=INTEGER},
      </if>
      <if test="headurl != null" >
        #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="healthurl != null" >
        #{healthurl,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.xgf.pojo.TbStudentExample" resultType="java.lang.Integer" >
    select count(*) from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuname != null" >
        stuName = #{record.stuname,jdbcType=VARCHAR},
      </if>
      <if test="record.examcode != null" >
        examCode = #{record.examcode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.deparment != null" >
        deparment = #{record.deparment,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.seatnumber != null" >
        seatNumber = #{record.seatnumber,jdbcType=INTEGER},
      </if>
      <if test="record.headurl != null" >
        headUrl = #{record.headurl,jdbcType=VARCHAR},
      </if>
      <if test="record.healthurl != null" >
        healthUrl = #{record.healthurl,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_student
    set id = #{record.id,jdbcType=INTEGER},
      stuName = #{record.stuname,jdbcType=VARCHAR},
      examCode = #{record.examcode,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      deparment = #{record.deparment,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      seatNumber = #{record.seatnumber,jdbcType=INTEGER},
      headUrl = #{record.headurl,jdbcType=VARCHAR},
      healthUrl = #{record.healthurl,jdbcType=VARCHAR},
      idCard = #{record.idcard,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.xgf.pojo.TbStudent" >
    update tb_student
    <set >
      <if test="stuname != null" >
        stuName = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="examcode != null" >
        examCode = #{examcode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="deparment != null" >
        deparment = #{deparment,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="seatnumber != null" >
        seatNumber = #{seatnumber,jdbcType=INTEGER},
      </if>
      <if test="headurl != null" >
        headUrl = #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="healthurl != null" >
        healthUrl = #{healthurl,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.xgf.pojo.TbStudent" >
    update tb_student
    set stuName = #{stuname,jdbcType=VARCHAR},
      examCode = #{examcode,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      deparment = #{deparment,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      seatNumber = #{seatnumber,jdbcType=INTEGER},
      headUrl = #{headurl,jdbcType=VARCHAR},
      healthUrl = #{healthurl,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>